@import '~@fluentui/react/dist/sass/References.scss';

.container {
    background: white;
    color: "[theme: themeDarker, default: #0d0739]";
    border-color: "[theme: themeDarker, default: #0d0739]";
    border: 1px solid;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 2px;
    height: auto;
    min-height: 60px;
    max-height: 600px;
    display: flex;
}

.response {
    cursor: text;
    flex-direction: row;
    align-items: stretch;
    overflow: auto;
}

.spinner {
    align-items: center;
    justify-content: center;
    user-select: none;
    pointer-events: none;
    border-color: "[theme: neutralLighter, default: #f3f2f1]";
    background-color: "[theme: neutralLighter, default: #f3f2f1]";
}

.icon {
    font-size: 15px;
    height: 15px;
    width: 15px;
    margin: 5px;
    user-select: none;
}

.icon:hover {
    cursor: pointer;
}

.callout {
    padding: 20px 24px;
}

.error {
    color: "[theme: redDark, default: #a4262c]";
}

.requestUrlMethod {
    width: 10%;
}
.requestUrlSend {
    width: 8%;
}
.requestUrlInput {
    width: 82%;
}